name: MongoDB to Google Sheet Sync

on:
  schedule:
    - cron: "*/5 * * * *"  
  workflow_dispatch:


jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Create credentials.json
        run: |
          echo '${{ secrets.GOOGLE_CREDENTIALS_JSON }}' > credentials.json

      - name: Run Script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python sync_mongo_to_sheet.py
